


//轮播
.banner{
    width: 100%;
    height: 510px;
    overflow: hidden;
    text-align: center;
    position: relative;
}
.banner ul{
    width: 100%;
}
.banner ul li{
    width: 100%;
    float: left;
    overflow: hidden;
    text-align: center;
}
.banner ul li img{
    margin: 0 -100%;
}

#b04 .dots { position: absolute; left: 0; right: 0; bottom: 20px;}
#b04 .dots li 
{ 
    display: inline-block; 
    width: 10px; 
    height: 10px; 
    margin: 0 4px; 
    text-indent: -999em; 
    border: 2px solid #fff; 
    border-radius: 6px; 
    cursor: pointer; 
    opacity: .4; 
    -webkit-transition: background .5s, opacity .5s; 
    -moz-transition: background .5s, opacity .5s; 
    transition: background .5s, opacity .5s;
}
#b04 .dots li.active 
{
    background: #fff;
    opacity: 1;
}

#b04 .arrow{
   position: absolute;
   top: 40%;
   width: 120px;
   height: 140px;
}
#b04 #al { left: 15px;left: 6%;}
#b04 #ar { right: 15px;right: 6%;} 




//精选活动
.jxhd{
    width:100%;
}
.jxhd .title{
    width: 165px;
    margin: 15px 0 8px 26px;
    height: 20px;
    line-height: 20px;
    background: url(../img/user_header.png) no-repeat left -35px;
}
.jxhd .jxhd_content{
    width: 1210px;
    height: 450px;
    margin: 0 auto;
    border-top: 2px solid #f0f0f0;
}
.jxhd .jxhd_content img{
    width: 400px;
    height: 450px;
    float: left;
}
//吃货力荐
.chlj{
    width:100%;
}
.chlj .title{
    width: 192px;
    margin: 15px 0 8px 26px;
    height: 20px;
    line-height: 20px;
    background: url(../img/user_header.png) no-repeat left top;
}
.chlj .chlj_content{
    width: 1210px;
    height: 450px;
    margin: 0 auto;
    border-top: 2px solid #f0f0f0;
}
.chlj .chlj_content img{
    width: 400px;
    height: 450px;
    float: left;
}
//特产美食
.banner_tc{
    width: 1210px;
    margin: 0 auto;
    border-top: 2px solid #f0f0f0;
    overflow: hidden;
}
.banner_tc img{
    width: 100%;
}
//
.tcms{
    width: 1210px;
    height: 610px;
    margin: 0 auto;
}
.tcms .title_tc{
    height: 34px;
    margin-top: 40px;
    margin-bottom: 6px;
}
.tcms .title_tc h3{
    font-size: 22px;
    width: 240px;
    height: 35px;
    line-height: 35px;
    color: #666;
    float: left;
    display: inline-block;
}
.tcms .title_tc .tip_tc{
    float: left;
    width:970px ;
}
.tcms .title_tc .tip_tc em{
    display: inline-block;
    border-bottom: 1px solid #8dd514;
    width: 853px;
    height: 34px;
    line-height: 34px;
     float: left;
}
.tcms .title_tc .tip_tc span{
    float: left;
    display: inline-block;
    text-align: center;
    
    font-size: 12px;
    width: 48px;
    height: 34px;
    line-height: 34px;
    padding: 0 25px;
    border:1px solid #8dd514;
    border-bottom: 1px solid #FFFFFF!important;
    a{
        color:#76bb02 ;
    }
}

.tcms .hot_tc{
    height: 560px;
    width:240px ;
    float: left;
}
.tcms .hot_tc .hot_tc_top{
    box-sizing: border-box;
    height: 267px;
    width: 240px;
    background: #db3038;
    padding: 30px 15px;
    margin-top: -6px;
}
.tcms .hot_tc .hot_tc_top .hot_tc_top_list{
    width: 220px;
    height: 200px;
    
}
.tcms .hot_tc .hot_tc_top .hot_tc_top_list a{
    margin: 5px;
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    float: left;
    background: white;
    color:#2f2f2f ;
    font-size: 12px;
    border: 1px solid white;
} 
.tcms .hot_tc .hot_tc_top .hot_tc_top_list a:hover{
   background: #db3038;
   color: white; 
}

.tcms .hot_tc .hot_tc_foot{
    width: 240px;
    height: 297px;
}
.tcms .hot_tc .hot_tc_foot a img{
    width: 240px;
    height: 297px;
}
.tcms .product_tc{
    width: 820px;
    float: left;
    height: 560px;
}
.tcms .product_tc .product_tc_list{
    box-sizing: border-box;
    width:205px;
    height:279px;
    border-right: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    padding:20px;
    position: relative;
    float: left;
}
.tcms .product_tc .product_tc_list:nth-of-type(4),
.tcms .product_tc .product_tc_list:nth-of-type(8)
{
    border-right: none;
}


.tcms .product_tc .product_tc_list>a img{
    width: 160px;
    height: 160px;
    transition-duration: 0.5s;
}
.tcms .product_tc .product_tc_list>a img:hover{
    transform: scale(1.15);
}
.tcms .product_tc .product_tc_list .title{
    font-size: 12px;
    height:35px;
    line-height: 18px;
    margin-top: 10px;
}
.tcms .product_tc .product_tc_list .title a{
    color: #777;
}
.tcms .product_tc .product_tc_list .price_del{
    color: #999;
    font-size: 9px;
    text-decoration: line-through;
    margin: 6px 0; 
}
.tcms .product_tc .product_tc_list .price{
    font-size: 15px;
    color: #e31939;
}
.tcms .product_tc .product_tc_list .add_car{
    width:28px ;
    height:28px ;
    border-radius: 50%;
    background: url(../img/mix.png) no-repeat -1px -1px;
    position: absolute;
    right: 23px;
    bottom: 15px;
    transition-duration: 0.4s;
    &:hover{
        transform: scale(1.2);
        box-shadow: 0 2px 1px rgba(0,0,0,0.5);
        cursor: pointer;
    }
}


.tcms .qiang_tc{
    float: right;
    width: 150px;
}
.tcms .qiang_tc a img{
    width: 150px;
    height: 268px;
}
.tcms .qiang_tc a img:last-child{
    margin-top: 10px;
}

